@import url(../../assets/styles/colorsPalette.css);

.bg1 {
    background-color: var(--black);
}

.font {
    font: 'Nunito';
    color: azure;
}

.main {
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
}